body {
    transform: scale(1);
    font-family: Arial, sans-serif;
    width: 1100px;
}

.container {
    width: 1100px;
    height: auto;
    background: url("./bg.jpg") #333333 left top no-repeat;
    background-size: 1100px auto;
}

.header {
    padding: 30px;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    padding-bottom: 25px;
}

.title {
    font-size: 70px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-container {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    margin: 30px;
}

.content-container-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-desc-text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.daily-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.icon {
    width: 150px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.icon p {
    font-size: 24px;
}

.announce-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    /* backdrop-filter: blur(3px); */
    margin: 20px;
}

.item {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.item:last-child {
    border-bottom: none;
}

.item-idx {
    width: 8%;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 60px;
    font-weight: bold;
    color: gray;
    opacity: 0.8;
}

.item-icon {
    width: 12%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-type-text {
    width: 12%;
    margin-top: 15px;
    font-size: 70px;
    font-family: "Gill Sans", sans-serif;
    color: rgb(98, 179, 237);
}

.item img {
    width: 120px;
    height: 120px;
    margin-right: 15px;
    margin-left: 25px;
}

.item-info {
    flex-grow: 1;
    width: 80%;
    margin-left: 25px;
}

.announce-title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.announce-desc {
    font-size: 28px;
    margin-bottom: 10px;
}



.text-container {
    padding: 20px;
    text-align: center;
}

.create-by-text {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial';
    color: #ffffffe7;
    text-align: center;
}