body {
    width: 1240px;
    font-family: Arial, sans-serif;
}

.container {
    width: 1240px;
    height: auto;
    background: url("./bg.jpg") #333333 left top;
    background-size: 1240px auto;
}

.root-container {
    display: flex;
    flex-direction: column;
}

/* 
.content-container {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-text {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-container {
    display: flex;
}

.rating {
    font-size: 48px;
    font-weight: bold;
}

.rating.MAX {
    color: red;
}

.rating.ACE {
    color: red;
}

.rating.SSS {
    color: red;
}

.rating.SS {
    color: orange;
}

.rating.S {
    color: orange;
}

.rating.A {
    color: yellow;
}

.rating.B {
    color: yellow;
}

.rating.C {
    color: green;
}

.rating.D {
    color: green;
}

.tags {
    margin-top: 10px;
}

.analysis-card {
    display: flex;
    margin-bottom: 20px;
}

.analysis-card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.analysis-card .description {
    flex-grow: 1;
}

/* 修改容器样式 */
.content-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* 修改评分和其他内容样式 */
.rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.rating-item-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 35px 10px 35px;
}

.rating-item-container .rating {
    font-size: 72px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.rating-container .rating {
    font-size: 72px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.rating-item-container .desc-text {
    font-size: 24px;
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    margin-top: 15px;
    margin-bottom: 5px;
}

.analysis-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.analysis-item-container img {
    width: 100px;
    height: auto;
}

.rarity-img {
    width: 100%;
    height: 100%;
}

.analysis-item-container .data {
    font-size: 40px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.analysis-item-container .desc-text {
    font-size: 24px;
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    margin-top: 15px;
    margin-bottom: 5px;
}

.analysis-item-container .title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.rating-container .score {
    font-size: 24px;
    margin-left: 10px;
}

.tags-container {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 30px;
}

.container-title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.analysis-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

.analysis-card-container .analysis-card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.analysis-card-container-fourth {
    display: flex;
    flex-direction: column;
}

.analysis-card-container-fourth .analysis-card {
    display: flex;
    margin-bottom: 20px;
}

̰.analysis-card-container-fourth .analysis-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.create-by-text {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial';
    color: #ffffffe7;
    text-align: center;
}