/* style.css */
/* 修改头像样式 */
.avatar.custom-avatar {
  border: 1px solid rgb(0, 0, 0); /* 添加5px宽度的边框，并设置边框颜色 */
  padding: 1px; /* 添加内边距，增加边框与图像之间的距离 */
  width: 130px; /* 设置图像宽度为130px */
  height: 130px; /* 设置图像高度为130px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 添加阴影效果，可以根据需要调整阴影的颜色和模糊程度 */
}

/* 新增样式用于背景图容器 */
.background {
  background: url('./img/arknights_bg1.jpg');
  background-size: cover;
  backdrop-filter: blur(10px); /* 添加毛玻璃效果，可以根据需要调整模糊程度 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 将背景图置于底层 */
}

.body {
  width: 1256px;
  height: 837px;
}

/* 设置表格容器的宽度为100% */
.table-container {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(34, 41, 57, 0.75); /* 背景色的透明度可以根据需要调整 */
  color: rgba(189, 188, 191, 1);
  padding: 20px;
  border-radius: 8px;
  width: 1256px;
  height: 837px;
}

/* 定义自定义表格样式 */
.custom-table {
  width: 100%;
  table-layout: fixed;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  border-radius: 8px;
}

/* 自定义行高样式 */
.row-38.2 {
  height: 38.2%;
}

.row-12.36 {
  height: 12.36%;
}

/* 控制表格中的行高为第一个行高的二分之一 */
.custom-table tbody tr:not(:first-child) {
  height: 50%;
}

/* 样式表中新增样式用于包装进度条的div */
.progress-container-wrapper {
  display: flex; /* 使用 Flex 布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100%; /* 设置高度为100%以撑开表格单元格 */
}

/* 新增样式用于进度条容器 */
.progress-container {
  width: 80%; /* 进度条长度与单元格列宽占比百分比 */
  height: 5px;
  background-color: rgba(63, 75, 91, 1);
  position: relative;
  border-radius: 8px;
  margin-top: 5px;
}

/* 设置进度条样式 */
.progress-bar {
  height: 100%;
  background-color: rgba(136, 190, 203, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* 阴影效果设置[水平偏移] [垂直偏移] [模糊半径] [扩展半径] [颜色] */
}

/* 设置进度条文本的样式 */
.progress-text {
  margin-top: 5px;
}

/* 新增样式用于显示当前时间 */
.current-time {
  font-size: 1.2em;
  font-weight: bold;
}

/* 对图片进行样式修饰，添加边框 */
.custom-table img {
  border: 1px solid rgba(136, 190, 203, 1);
  border-radius: 0%;
  padding: 5px;
}

/* 调整表格单元格内文字的对齐方式 */
.custom-table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

/* 修改常量的文本样式的class */
.constant-text {
  font-size: 30px; /* 修改字体高度为27px */
  color: rgba(188, 190, 192, 1); /* 修改字体颜色为rgba(188, 188, 188, 0.8) */
  font-family: "Verdana", sans-serif; /* 设置字体 */
}

/* 修改变量的文本样式的class */
.custom-text {
  font-size: 40px; /* 修改字体高度为27px */
  color: rgba(141, 208, 255, 1); /* 修改字体颜色为rgba(200, 200, 200, 1) */
  font-family: "Verdana", sans-serif; /* 设置字体 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 阴影效果设置[水平偏移] [垂直偏移] [模糊半径] [扩展半径] [颜色] */
}

/* 修改线索的文本样式的class */
.clue-text {
  font-size: 30px; /* 修改字体高度为27px */
  line-height: 44px; /* 设置行高为33px，保持行间距不变 */
  color: rgba(141, 208, 250, 1); /* 修改字体颜色为rgba(200, 200, 200, 1) */
  font-family: "Times New Roman", sans-serif; /* 设置字体 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 阴影效果设置[水平偏移] [垂直偏移] [模糊半径] [扩展半径] [颜色] */
}

/* 修改第一行的内容放大一倍 */
.table-container .custom-table tbody tr:first-child td {
  font-size: 1.2em;
}

/* 给博士名字体高度添加注释并修改字体颜色和字体 */
.title-text {
  font-weight: bold; /* 增加字体粗度 */
  font-size: 77px; /* 修改字体高度为45px */
  color: rgba(255, 255, 255, 1); /* 修改字体颜色为rgba(189, 188, 191, 1) */
  text-align: left; /* 左对齐文本 */
  font-family: "Helvetica Neue", sans-serif; /* 设置字体 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 阴影效果设置[水平偏移] [垂直偏移] [模糊半径] [扩展半径] [颜色] */
}

/* 修改等级文本字体高度和颜色以及字体 */
.level-text {
  font-size: 50px; /* 修改字体高度为20px */
  color: rgba(252, 196, 200, 0.88); /* 修改字体颜色为#99CCFF */
  text-align: left; /* 左对齐文本 */
  font-family: "Times New Roman", serif; /* 设置字体 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 阴影效果设置[水平偏移] [垂直偏移] [模糊半径] [扩展半径] [颜色] */
  margin-right: 10px; /* 在 "Lv.120" 的右侧添加 10px 的右边距 */
}

/* 修改UID文本字体高度和颜色以及字体 */
.uid-text {
  font-size: 30px; /* 修改字体高度为20px */
  color: #A8A8A8; /* 修改字体颜色为#A8A8A8 */
  text-align: left; /* 左对齐文本 */
  font-family: "Arial", sans-serif; /* 设置字体 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 阴影效果设置[水平偏移] [垂直偏移] [模糊半径] [扩展半径] [颜色] */
  margin-left: 10px; /* 在 "UID:1919810" 的左侧添加 10px 的左边距 */
}

/* 在现有的CSS中添加以下样式 */
.center-content {
  text-align: center; /* 水平居中对齐 */
  vertical-align: middle; /* 垂直居中对齐 */
}
.logo {
  font-size: 24px;
  font-family: 'Arial';
  /* color: #f0eaca; */
  text-align: center;
  margin-top: 30px;
  padding-bottom: 15px;
}